/*
CSS File for IE8
Last Modified by: CN
Last Modified: Jun 19, 2013
*/

/* WordPress overwrites */
section.feature-image.large img {  
    width: 100%;  
}

/* Subsite Title */
#sitename {
	width: 750px;
}

/* Frontpage */
.page-template-frontpage-mainsite-php #page {
	width: 960px;
}
.page-template-frontpage-mainsite-php #sitename {
	width: auto;
}

/* Content overwrite - get rid of bottom-border on pages*/
.page .hentry {
	border-bottom: none;
}